In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Data Read

In [3]:
df_can = pd.read_csv('london_crime_by_lsoa.csv')
print('Data read into a pandas dataframe')

Data read into a pandas dataframe

In [46]:
df_can.head(5)

,lsoa_code,borough,major_category,minor_category,value,year,month
0,E01001116,Croydon,Burglary,Burglary in Other Buildings,0,2016,11
1,E01001646,Greenwich,Violence Against the Person,Other violence,0,2016,11
2,E01000677,Bromley,Violence Against the Person,Other violence,0,2015,5
3,E01003774,Redbridge,Burglary,Burglary in Other Buildings,0,2016,3
4,E01004563,Wandsworth,Robbery,Personal Property,0,2008,6

In [6]:
df_can.tail(5)

,lsoa_code,borough,major_category,minor_category,value,year,month
13490599,E01000504,Brent,Criminal Damage,Criminal Damage To Dwelling,0,2015,2
13490600,E01002504,Hillingdon,Robbery,Personal Property,1,2015,6
13490601,E01004165,Sutton,Burglary,Burglary in a Dwelling,0,2011,2
13490602,E01001134,Croydon,Robbery,Business Property,0,2011,5
13490603,E01003413,Merton,Violence Against the Person,Wounding/GBH,0,2015,6

In [47]:
df_can.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13490604 entries, 0 to 13490603
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   lsoa_code       object
 1   borough         object
 2   major_category  object
 3   minor_category  object
 4   value           int64
 5   year            int64
 6   month           int64
dtypes: int64(3), object(4)
memory usage: 720.5+ MB

In [48]:
df_can.columns.values

array(['lsoa_code', 'borough', 'major_category', 'minor_category',
       'value', 'year', 'month'], dtype=object)

In [49]:
df_can.index.values

array([       0,        1,        2, ..., 13490601, 13490602, 13490603],
      dtype=int64)

In [11]:
df_can.shape

(13490604, 7)

# Data Cleaning

In [50]:
df_can.drop(['month'], axis=1, inplace=True)
# month karena data yang dibuat akan berdasarkan per tahun

In [51]:
df_can.head(5)

,lsoa_code,borough,major_category,minor_category,value,year
0,E01001116,Croydon,Burglary,Burglary in Other Buildings,0,2016
1,E01001646,Greenwich,Violence Against the Person,Other violence,0,2016
2,E01000677,Bromley,Violence Against the Person,Other violence,0,2015
3,E01003774,Redbridge,Burglary,Burglary in Other Buildings,0,2016
4,E01004563,Wandsworth,Robbery,Personal Property,0,2008

In [52]:
df_can.tail(5)

,lsoa_code,borough,major_category,minor_category,value,year
13490599,E01000504,Brent,Criminal Damage,Criminal Damage To Dwelling,0,2015
13490600,E01002504,Hillingdon,Robbery,Personal Property,1,2015
13490601,E01004165,Sutton,Burglary,Burglary in a Dwelling,0,2011
13490602,E01001134,Croydon,Robbery,Business Property,0,2011
13490603,E01003413,Merton,Violence Against the Person,Wounding/GBH,0,2015

In [53]:
df_can.sort_values(by=['year', 'value', 'borough'])

,lsoa_code,borough,major_category,minor_category,value,year
295,E01033587,Barking and Dagenham,Violence Against the Person,Wounding/GBH,0,2008
982,E01000054,Barking and Dagenham,Drugs,Drug Trafficking,0,2008
1572,E01000057,Barking and Dagenham,Drugs,Drug Trafficking,0,2008
2530,E01000091,Barking and Dagenham,Burglary,Burglary in a Dwelling,0,2008
2770,E01000035,Barking and Dagenham,Other Notifiable Offences,Going Equipped,0,2008
...,...,...,...,...,...,...
9984731,E01033595,Westminster,Theft and Handling,Other Theft Person,128,2016
3987507,E01033595,Westminster,Theft and Handling,Other Theft,131,2016
2514416,E01033595,Westminster,Theft and Handling,Theft From Shops,140,2016
5117962,E01033595,Westminster,Theft and Handling,Other Theft,146,2016
7485085,E01033595,Westminster,Theft and Handling,Other Theft,149,2016

In [8]:
plt.plot(df_can.year, df_can.value)

OverflowError: Exceeded cell block limit in Agg.  Please set the value of rcParams['agg.path.chunksize'], (currently 0) to be greater than 100 or increase the path simplification threshold(rcParams['path.simplify_threshold'] = 0.111111111111 by default and path.simplify_threshold = 0.111111111111 on the input).